<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fosung.system.support.system.dao.sys.SysProjectDao">

    <delete id="deleteAllByProjectId" parameterType="java.util.Map">
        delete from ${params.tablename} where project_id = #{params.projectId}
    </delete>

    <update id="updateAllByProjectId" parameterType="java.util.Map">
        update
            ${params.tablename}
        set del = true
        where
            project_id = #{params.projectId}
    </update>
</mapper>