<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fosung.system.support.system.dao.sys.SysUserRoleDao">

    <delete id="deleteByRoleId" parameterType="java.lang.Long">
        delete from sys_user_role where  role_id = #{roleId}
    </delete>

    <delete id="deleteByUserId" parameterType="java.lang.Long">
        delete from sys_user_role where  user_id = #{userId}
    </delete>

    <!--  根据角色编码查询用户信息  -->
    <select id="queryUserByRoleCode" resultType="java.util.Map">
        SELECT
            suser.id,
            suser.user_name
        FROM
            sys_user_role
            ROLE LEFT JOIN sys_user suser ON ROLE.user_id = suser.ID
        WHERE
            ROLE.role_id IN ( SELECT ID FROM "sys_role" WHERE role_code = #{roleCode} )
            and role.app_id = #{appId}
    </select>

</mapper>