<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fosung.system.support.system.dao.sys.SysUserPostScopeDao">

    <select id="queryPostByUserIds" parameterType="java.util.Map" resultType="com.fosung.system.support.system.entity.sys.SysUserPostScopeEntity">
        select
            ups.*,
            p.post_code as "positionInfoCode",
            p.post_name as "positionInfoName"
        from sys_user_post_scope ups
            left join sys_post p on ups.post_id = p.id
        where p.del = false
        <if test="params.userIds">
            <if test="params.userIds != null">
                AND ups.user_id not IN
                <foreach collection="params.userIds" item="userId" separator="," open="(" close=")">
                    #{userId}
                </foreach>
            </if>
        </if>
    </select>

</mapper>