<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fosung.system.support.system.dao.sys.SysUserRoleScopDao">

    <delete id="deleteUserRoleScope" parameterType="java.util.Map">
        delete from sys_user_role_scop where user_id = #{params.userId}
        <if test="params.roleIds != null">
            and role_id in
                <foreach collection="params.roleIds" item="roleId" close=")" open="(" separator="," >
                    #{roleId}
                </foreach>
        </if>
<!--        <if test="params.roleId == null and params.roleIdIsNot == null">-->
<!--            and role_id is null-->
<!--        </if>-->
<!--        <if test="params.roleIdIsNot != null">-->
<!--            and role_id is not null-->
<!--        </if>-->
    </delete>

    <delete id="deleteRoleIdIsNot" parameterType="java.util.Map">
        delete from sys_user_role_scop where user_id = #{params.userId}
        <if test="params.roleIdIsNot != null">
            and role_id is not null
        </if>
    </delete>
    <select id="queryAllUserRoleScope" parameterType="java.util.Map" resultType="com.fosung.system.support.system.entity.sys.SysUserRoleScopEntity">
        select
            a.*,b.org_name as "orgName",b.org_code as "orgCode"
        from sys_user_role_scop a
            left join sys_org b on b.id = a.org_id
        where b.del = false and a.user_id = #{params.userId}
        <if test="params.shelvesType == 'role'">
            and a.role_id = #{params.roleId}
        </if>
        <if test="params.shelvesType == 'resource'">
            and a.role_id is null
        </if>
        <if test="params.projectId != null">
            and a.project_id = #{params.projectId}
        </if>
        <if test="params.orgType != null">
            and b.org_type = #{params.orgType}
        </if>
        order by b.num asc,a.create_time asc
    </select>

</mapper>