<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fosung.workbench.dao.config.ConfigManageDao" >
    <resultMap id="resultMap" type="com.fosung.workbench.entity.config.ConfigManageEntity">

    </resultMap>
    <!--  查询接口分组信息通过接口分类  -->
    <select id="queryByTerminalId" resultMap="resultMap" parameterType="java.lang.String">
        SELECT b.config_name,b.config_platform,b.config_type FROM terminal_config_manage a
        LEFT JOIN config_manage b on a.config_manage_id = b.id
        WHERE del = FALSE AND a.terminal_id = #{terminalId}
    </select>

    <!--  修改终端运行配置信息  -->
    <update id="updateTerminalRunConfig" parameterType="com.fosung.workbench.entity.config.TerminalConfigManageEntity">
        UPDATE terminal_config_manage
        SET config_platform = #{param.configPlatform},
        config_platform_name = #{param.configPlatformName}
        WHERE
        config_type = #{param.configType}
        and config_platform = #{param.oldConfigPlatform}
    </update>

    <!--  删除终端运行配置信息  -->
    <update id="deleteTerminalRunConfig" parameterType="com.fosung.workbench.entity.config.TerminalConfigManageEntity">
        UPDATE terminal_config_manage
        SET config_platform = '',
        config_platform_name = '',
        remark = ''
        WHERE
        config_type = #{param.configType}
        and config_platform = #{param.oldConfigPlatform}
    </update>
</mapper>