<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fosung.workbench.dao.microcoder.TerminalConfigNavigationBtmDao" >
    <resultMap id="baseResultMap" type="com.fosung.workbench.entity.microcoder.TerminalConfigNavigationBtmEntity">

    </resultMap>

    <select id="queryMaxNum" resultType="java.lang.Integer" parameterType="com.fosung.workbench.entity.microcoder.TerminalConfigNavigationBtmEntity">
        select max(num) from terminal_config_navigation_btm where del = false and terminal_id = #{params.terminalId} and area = #{params.area}
    </select>

    <!-- 根据id修改 -->
    <update id="updateById" parameterType="com.fosung.workbench.entity.microcoder.TerminalConfigNavigationBtmEntity">
        update terminal_config_navigation_btm
        <trim prefix="set" suffixOverrides=",">
            <if test="navigationConfigurationInfo.num!=null">
                num = #{navigationConfigurationInfo.num},
            </if>
            <if test="navigationConfigurationInfo.navigationName!=null and navigationConfigurationInfo.navigationName != ''">
                navigation_name = #{navigationConfigurationInfo.navigationName},
            </if>
            <if test="navigationConfigurationInfo.navigationUrl!=null and navigationConfigurationInfo.navigationUrl != ''">
                navigation_url = #{navigationConfigurationInfo.navigationUrl},
            </if>
            <if test="navigationConfigurationInfo.navigationLogoChecked!=null and navigationConfigurationInfo.navigationLogoChecked != ''">
                navigation_logo_checked = #{navigationConfigurationInfo.navigationLogoChecked},
            </if>
            <if test="navigationConfigurationInfo.navigationLogoNoChecked!=null and navigationConfigurationInfo.navigationLogoNoChecked != ''">
                navigation_logo_no_checked = #{navigationConfigurationInfo.navigationLogoNoChecked},
            </if>
            <if test="navigationConfigurationInfo.forceLogin!=null and navigationConfigurationInfo.forceLogin != ''">
                force_login = #{navigationConfigurationInfo.forceLogin},
            </if>
            <if test="navigationConfigurationInfo.status!=null">
                status = #{navigationConfigurationInfo.status},
            </if>
            <if test="navigationConfigurationInfo.defaultShow!=null">
                default_show = #{navigationConfigurationInfo.defaultShow},
            </if>
            <if test="navigationConfigurationInfo.showStyle!=null">
                show_style = #{navigationConfigurationInfo.showStyle},
            </if>
            <if test="navigationConfigurationInfo.associatedObject!=null">
                associated_object = #{navigationConfigurationInfo.associatedObject},
            </if>
        </trim>
        where id = #{navigationConfigurationInfo.id}
    </update>

</mapper>