<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fosung.workbench.dao.terminal.TerminalVersionDao">

    <resultMap id="baseResultMap" type="com.fosung.workbench.entity.terminal.TerminalVersionEntity">
        <result column="project_name" property="projectName"/>
        <result column="terminal_name" property="terminalName"/>
    </resultMap>

    <select id="queryByPageTerminalVersion"  resultMap="baseResultMap" parameterType="java.util.Map">
        SELECT
            a.id,
            a.project_id,
            c.project_name,
            a.terminal_id,
            b.terminal_name,
            a.terminal_version,
            a.version_name,
            a.status,
            a.remark,
            a.force_upgrade,
            a.installations_number,
            a.download_number,
            a.installation_package,
            a.app_size,
            a.create_time
        FROM
            terminal_version a
        LEFT JOIN terminal_basic b ON a.terminal_id = b.id
        LEFT JOIN project_basic c ON a.project_id = c.id
        where a.del = false and b.del = false and c.del = false
        <if test="params.projectId!=null">
            and a.project_id = #{params.projectId}
        </if>
        <if test="params.projectList!=null and params.projectList.size() > 0 ">
            and a.project_id in
            <foreach collection="params.projectList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="params.terminalId!=null">
            and a.terminal_id = #{params.terminalId}
        </if>
        <if test="params.status!=null and params.status != ''">
            and a.status = #{params.status}
        </if>
        <if test="params.startTime!=null">
            and a.create_time &gt;= #{params.startTime}
        </if>
        <if test="params.endTime!=null">
            and a.create_time &lt;= #{params.endTime}
        </if>
        order by a.create_time desc
    </select>

    <!--  查询应用最大版本号  -->
    <select id="getMaxVersionNum" parameterType="com.fosung.workbench.entity.terminal.TerminalVersionEntity" resultType="java.lang.Integer">
        SELECT max(terminal_version_num) FROM terminal_version where terminal_id = #{params.terminalId}
    </select>

</mapper>