<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fosung.workbench.dao.terminal.TerminalNavigationTurnUrlDao" >
    <resultMap id="baseResultMap" type="com.fosung.workbench.entity.terminal.TerminalNavigationTurnUrl">

    </resultMap>

    <!-- 修改终端底部导航URL -->
    <update id="updateNavigationBtmUrl" parameterType="com.fosung.workbench.entity.microcoder.TerminalConfigNavigationBtmEntity">
        UPDATE terminal_config_navigation_btm
        SET associated_object = #{param.associatedObject},
        navigation_url = #{param.navigationUrl}
        WHERE
        terminal_id = #{param.terminalId}
        and associated_object = #{param.oldAssociatedObject}
        and navigation_url = #{param.oldNavigationUrl}
    </update>

</mapper>