<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geek.workbench.dao.shorturl.NumberSenderDao" >

    <resultMap id="baseResultMap" type="com.geek.workbench.entity.shorturl.NumberSenderEntity">
        <result column="number_sender_key" property="numberSenderKey"/>
        <result column="number" property="number"/>
    </resultMap>

    <!--  更新信息  -->
    <update id="updateNumber" parameterType="com.geek.workbench.entity.shorturl.NumberSenderEntity">
        update number_sender set number = #{param.number} where number_sender_key = #{param.numberSenderKey}
    </update>
</mapper>