<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geek.workbench.dao.terminal.TerminalVersionUpgradeRangeDao">

    <!-- 删除版本历史范围变更记录 -->
    <delete id="deleteHistoryLog" >
        delete from terminal_version_upgrade_range where del = true and terminal_version_id = #{id}
    </delete>

    <!--  查询真实的全部数据  -->
    <select id="queryRealAll" resultType="com.geek.workbench.entity.terminal.TerminalVersionUpgradeRangeEntity"
            parameterType="java.util.Map">
        select "id", "create_time", "create_user_id", "last_update_time",
        "last_update_user_id", "del", "terminal_version_id",
         "upgrade_range_name", "upgrade_range_type",
          "upgrade_range_value", "update_index" from terminal_version_upgrade_range where
        terminal_version_id = #{params.terminalVersionId}
        and update_index = #{params.updateIndex}
    </select>

</mapper>