<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geek.system.support.system.dao.pbs.PbsRoleDao">

    <resultMap id="orgMap" type="com.geek.system.support.system.entity.sys.SysRoleEntity">
        <result column="project_name" property="projectName"/>
    </resultMap>

    <select id="queryAppByRole" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT a.id,a.app_name as "appName",a.app_code as "appCode",a.app_type as "appType",a.remark,a.resource_url as "resource_url" FROM sys_role_app ra
        LEFT JOIN sys_application a on ra.app_id = a.id
        WHERE ra.role_id = #{param.roleId} and ra.project_id = #{param.projectId}
        order by a.create_time
    </select>
</mapper>