<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geek.system.support.system.dao.pbs.PbsUserDao">
    
    <select id="queryWorkerByScopOrg" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT usr.id,usr.real_name as "realName",usr.telephone,
        string_agg(role.role_name, ',') as "roleName" FROM sys_user usr
        LEFT JOIN sys_user_role_scop scop on usr.id = scop.user_id
        LEFT JOIN sys_role role on role.id = scop.role_id
        where usr.del =false and scop.org_id in
        <foreach collection="params.orgIds" item="orgId" separator="," open="(" close=")">
            #{orgId,jdbcType = BIGINT}
        </foreach>
        <if test="params.nameOrPhone != null and params.nameOrPhone != ''">
            and (usr.real_name like '%${params.nameOrPhone}%' or usr.telephone like '${params.nameOrPhone}%')
        </if>
        GROUP BY usr.id,usr.real_name,usr.telephone
    </select>
    <select id="queryWorkerCountByScopOrg" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT count(1) FROM
        (SELECT usr.id,usr.real_name as "realName",usr.telephone,scop.org_id,
        string_agg(role.role_name, ',') as "roleName" FROM sys_user usr
        LEFT JOIN sys_user_role_scop scop on usr.id = scop.user_id
        LEFT JOIN sys_role role on role.id = scop.role_id
        where usr.del =false and scop.org_id in
        <foreach collection="params.orgIds" item="orgId" separator="," open="(" close=")">
            #{orgId,jdbcType = BIGINT}
        </foreach>
        GROUP BY usr.id,usr.real_name,usr.telephone,scop.org_id) t
    </select>

    <delete id="deleteByIds"  parameterType="java.util.Map">
        delete from sys_user
        where project_id = #{param.projectId}
        <if test="param.ids != null">
            and id in
            <foreach collection="param.ids" item="id" separator="," open="(" close=")" >
                #{id}
            </foreach>
        </if>
        <if test="param.telephones != null">
            and telephone in
            <foreach collection="param.telephones" item="telephone" separator="," open="(" close=")" >
                #{telephone}
            </foreach>
        </if>

    </delete>

    <select id="queryPageManagerUsers" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT usr.id,usr.sex,usr.telephone,usr.real_name as "realName",scop.org_id as "orgId" FROM sys_user usr
        LEFT JOIN sys_user_role_scop scop on usr.id = scop.user_id
        LEFT JOIN sys_role role on role.id = scop.role_id
        where usr.project_code = #{params.projectCode}
        <if test="params.orgId != null and params.orgId !=''">
            and scop.org_id in(${params.orgId})
        </if>
        <if test="params.roleCode != null and params.roleCode !=''">
            AND role.role_code = #{params.roleCode}
        </if>
    </select>

    <select id="queryUserRole" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT ro.id,ro.role_name as "roleName",ro.role_code as "roleCode",ro.role_type as "roleType",usr.shelves_type as "shelvesType",ro.create_time as "createTime" FROM sys_role ro
        LEFT JOIN sys_user_role ur on ro.id = ur.role_id
        LEFT JOIN sys_role_app rp on ro.id = rp.role_id
        LEFT JOIN sys_application app on rp.app_id = app.id
        LEFT JOIN sys_user usr on ur.user_id = usr.id
        where ro.del = false and ro.status ='normal'
            and ro.project_id = #{params.projectId}
            and  ur.user_id = #{params.userId}
           and app.app_code = #{params.appCode}
        order by ro.create_time
    </select>

    <insert id="saveinfo">

        INSERT INTO
        sys_user
        (
        id,
        create_time,
        create_user_id,
        last_update_time,
        last_update_user_id,
        auth_status,
        auth_time,
        del,
        hash,
        head_img_url,
        id_card,
        org_code,
        org_id,
        org_name,
        party_org_code,
        party_org_id,
        party_org_name,
        password,
        project_code,
        project_id,
        real_name,
        sex,
        shelves_type,
        source,
        status,
        telephone,
        user_name,
        user_type,
        dt_user_id,
        age
        ) VALUES
        <foreach collection="infos" item="info" separator=",">
            (
            #{info.id},
            #{info.createDatetime},
            #{info.createUserId},
            #{info.lastUpdateDatetime},
            #{info.lastUpdateUserId},
            #{info.authStatus},
            #{info.authTime},
            #{info.del},
            #{info.hash},
            #{info.headImgUrl},
            #{info.idCard},
            #{info.orgCode},
            #{info.orgId},
            #{info.orgName},
            #{info.partyOrgCode},
            #{info.partyOrgId},
            #{info.partyOrgName},
            #{info.password},
            #{info.projectCode},
            #{info.projectId},
            #{info.realName},
            #{info.sex},
            #{info.shelvesType},
            #{info.source},
            #{info.status},
            #{info.telephone},
            #{info.userName},
            #{info.userType},
            #{info.dtUserId},
            #{info.age}
            )
        </foreach>

    </insert>
</mapper>